/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
  list-style: none;
  margin: 0px;
  padding: 0px;

}

@import "bootstrap";
.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
    background-color: white;
}
.drawer--right .drawer-hamburger, .drawer--right.drawer-open .drawer-nav, .drawer--right.drawer-open .drawer-navbar .drawer-hamburger{
	top:10px;
	right:7px;
}
.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.head-menu{
	background-color:black;
	/*padding:25px;*/
	padding-bottom:80px;
	width:100%;
	text-align:right;
}
.headmenu{
	text-decoration: none;
}
.headmenu1{
	text-decoration: none;

}
.menu{
	margin:0;
}

.a2{
	color:white;
	float:right;
    padding:25px 25px 25px 0px;
    font-size:15px;
}

a.li{
	color:white;
}
.catchcopy{
	display:inline-block;
	color:#7d7d7d;
	float:left;
	margin-top:50px;
	margin-left:20px;
}
.pietra-pic{
	float:left;
	padding-left:15px;
	padding-top:10px;
}
.newbox{
	text-align:center;
	padding-top:40px;
}


.name{
	text-align:center;
	padding-top:40px;
}
.field{
	padding-bottom:5px;
}
.sign-up-box{
	font-size:13px;
	font-weight:bold;

}

.sign-box{
padding:10px 0px 0px 0px;
text-align:center;
}
.sign-box1{
	margin:0 auto;
	width:60%;
}
#user_name{
	padding:10px 40px 10px 0px;
	margin-bottom:10px;
}
#user_email{
	padding:10px 40px 10px 0px;
	margin-bottom:10px;
}
#user_password{
	padding:10px 40px 10px 0px;
	margin-bottom:10px;
}
#user_password_confirmation{
	padding:10px 40px 10px 0px;
	margin-bottom:10px;
}
.foot{
	text-align:right;
	padding-right:30px;
}
.btn{
	width:150px;
	height:30px;
	background-color:#f57a00;
	color:white;
	border-radius:0px;
}
