
.image-box{
	margin-left: auto;
	width:85%;
    margin:0 auto;
    background-color:white;

}
.imgbox{
	padding:30px 0px 0px 0px;
}
.txtbox{
    padding:0px 0px 0px 30px;
}
.imgtxtbox{
	float:left;
	padding:0px 30px 30px 30px;
}


.edit-name{
	padding:30px 0px 30px 0px;
	font-size:30px;
}
.edit-form{
	text-align:center;
}
.text-form{
	display:block;
	margin:0 auto;
}
.edit-content{
	padding-bottom:10px;
}
.paginate{
	display:block;
}


.new-name{
	padding:30px 0px 30px 0px;
	font-size:30px;
	text-align:center;
}
.newbox{
	display:block;
	margin:0 auto;
	padding:5px 15px 5px 15px;
}
.newbox2{
	display:block;
	margin:0 auto;
	padding:15px 30px 15px 0px;
	text-align:left;
}
.newbox-content{
	display:block;
	margin:0 auto;
	padding:5px 30px 5px 0px;
}
.new-content{
	padding-bottom:10px;
}
.new-box{
	width:150px;
	height:30px;
	margin:0 auto;
	display:block;
	background-color:#f57a00;
	color:white;
	margin-top:20px;
}
.newbox-error{
	text-align:center;
	color:#440000;
}
.post-image{
	float:left;
	padding-top:30px;
}
.stone-index{
}
.stone-image-box{
    width:70%;
    margin:0 auto;
}
.comment-count{
	clear:both;
}
.stone-index{
	font-size:20px;
	text-align:center;
	padding-top:100px;
}
.title{
	padding-bottom:30px;
}
.caption{
	padding-bottom:20px;
}
.image-box1{
	padding-bottom:5px;
}
.comment-box{
	padding:30px　0px 10px 10px;
	margin:0px 0px 10px 10px;
}
.comment-count{
	padding:50px 0px 0px 10px;
}
.comment{
	padding:0px 0px 20px 10px;
}
.gotonew{
	 position: fixed;
	 width:60px;
	 height:60px;
	 background:black;
     border-radius:30px;
	 bottom: 15px;
    right: 15px;
}
.gotonew1{
     color:white;
	 position: fixed;
     font-size:50px;
	 bottom: 13px;
    right: 29px;
}
.gotonew1 a{
	text-decoration: none;
}
.gotonew1 :hover{
	color:white;
}


.option-title{
	text-align:center;
	font-size:50px;
	padding-top:50px;
}