.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.clearfix{
	margin-left: auto;
	width:75%;
    margin:0 auto;
    background-color:white;
    display: flex;
    flex-wrap: wrap;
}
.imgbox{
	padding:30px 0px 0px 0px;
}
.txtbox{
    padding:0px 0px 0px 30px;
}
.index-title{
	text-align:center;
	font-size:40px;
	padding-top:30px;
	padding-bottom:10px;
}
.txtbox1{
	 padding:0px 0px 10px 30px;
	 color:#595960;
	 font-size:15px;
}
.imgtxtbox1{
	width: 31%;
	padding:0px 10px 30px 10px;
	margin:0 auto;
}

.show-name{
	font-weight:bold;
}

.edit-name{
	padding:30px 0px 30px 0px;
	font-size:30px;
}
.edit-form{
	text-align:center;
}
.text-form{
	display:block;
	margin:0 auto;
}
.edit-content{
	padding-bottom:10px;
}
.paginate{
	display:block;
}


.new-name{
	padding:30px 0px 30px 0px;
	font-size:45px;
	text-align:center;
}
.newbox{
	display:block;
	margin:0 auto;
	padding:5px 15px 5px 15px;
}
.newbox2{
	display:block;
	margin:0 auto;
	padding:0px 70px 20px 0px;
	text-align:left;
}
.newbox-content{
	display:block;
	margin:0 auto;
	padding:0px 70px 20px 0px;
}
.newbox-content-s{
	display:block;
	margin:0 auto;
	padding:0px 70px 5px 0px;
	text-align:left
}
.new-content{
	padding-bottom:10px;
}
.new-box{
	width:150px;
	height:30px;
	margin:0 auto;
	display:block;
	background-color:#f57a00;
	color:white;
	margin-top:20px;
}
.newbox-error{
	text-align:center;
	color:#440000;
}
.post-image{
	float:left;
	padding-top:30px;
}

.stone-image-box{
    width:70%;
    margin:0 auto;
}
.comment-count{
	clear:both;
}
.stone-index{
    display:inline-block;
	font-size:20px;
	padding:100px 0px 0px 100px;
}
.title{
	padding-bottom:30px;
}
.caption{
	padding-bottom:20px;
}
.image-box1{
	padding-bottom:5px;
}
.comment-box{
	padding:30px　0px 10px 10px;
	margin:0px 0px 10px 10px;
}
.comment-count{
	padding:50px 0px 0px 10px;
}
.comment{
	padding:0px 0px 20px 10px;
}
.gotonew{
	 position: fixed;
	 width:60px;
	 height:60px;
	 background:black;
     border-radius:30px;
	 bottom: 15px;
    right: 15px;
}
.gotonew1{
     color:white;
	 position: fixed;
     font-size:50px;
	 bottom: 13px;
    right: 29px;
}
.gotonew1 a{
	text-decoration: none;
}
.gotonew1 :hover{
	color:white;
}

.option{
	text-align:center;
}
.option-picture{
	width:130px;
	padding-top:50px;
}
.option-title{
	margin:0 auto;
	font-size:55px;
	color:#393939;
	text-align:center;
}
.option-copy{
	text-align:center;
	font-size:30px;
	color:#393939;
	padding-top:50px;
}
.option-copy span{
	font-size:28px;
}
.option-copy1{
	text-align:center;
	font-size:20px;
	color:#222222;
	padding-top:30px;
	line-height:30px;
}
.option-button{
	text-align:center;
	padding-top:50px;
}
.option-button1{

}