<div class="option-back">
<div class="option-black">
<div class="option">
	<%= image_tag 'ruby.png',class: "option-picture"  %>
</div>
<h1 class="option-title">Pietra</h1>
<h1 class="option-copy">石好き<span>のための</span>石投稿サイト</h1>
<p class="option-copy1">Pietraとはイタリア語で石という意味。<br>交易の場となったイタリアのように多くの石が集まる場に<br>お気に入りの石をPietraで共有しませんか?</p>

<div class="option-button">

	<% if current_user == nil %>
	<button type="button" class="btn btn-default option-button1" style="margin-right: 30px;">
		<%= link_to "ログイン", new_user_session_path, class: 'btn btn-default' %></button>
		<button type="button" class="btn btn-default"><%= link_to "新規登録", new_user_registration_path, class: 'btn btn-default' %></button>
		<% else %>
		<button type="button" class="btn btn-default"><%= link_to "投稿一覧へ", stone_images_path, class: 'btn btn-default' %>
		</button>
		<% end %>
	</div>
</div>
</div>