<div class="option">
<%= image_tag 'ruby.png',class: "option-picture"  %>
</div>
<h1 class="option-title">Pietra</h1>
<h1 class="option-copy">石好き<span>のための</span>石投稿サイト</h1>
<p class="option-copy1">Pietraとはイタリア語で石という意味。<br>交易の場となったイタリアのように多くの石が集まる場に<br>お気に入りの石をPietraで共有しませんか?</p>